@media (max-width:1200px) {
    .padding > :nth-child(2) {
        padding: 9px 108px 0 28px;
    }
    .signUp-heading h3{
        font-size: 20px;
    margin-bottom: 3px;
    }
    .signUp-heading p{
        font-size: 12px;
        margin-bottom: 0px;
    }
    .correction-list{
        font-size: 14px;
    }
    
}
@media(max-width:992px){
    .signUp-heading h3 {
        font-size: 21px;
        margin-bottom: 2px;
    }
    .signUp-heading p{
        font-size: 12px;
        margin-bottom: 0px;
    }
    ul {
        gap: 29px;

        font-size: 12px;
    }
    .padding {
        padding: 19px 0px 0px 19px ;
    }
    .padding > :nth-child(2) {
        padding: 1px 125px 0 35px;

    }
    .container{
        width: 50%;
    }
}
@media (max-width:576px) {
    .padding > :nth-child(2) {
        padding: 13px 23px 0 35px;
    }
    
}
@media (max-width:435px) {
    .signUp-heading h3 {
        font-size: 19px;
        margin-bottom: 1px;
    }
    .signUp-heading p {
        font-size: 11px;
        margin-bottom: 0px;
    }
    label {
        font-size: 11px;
        padding-bottom: 0px;
    }
    .pass-icon {
        width: 14px;
        height: 14px;
    }
    ul li {
        width: 140px;
    }
}
